
/* Your CSS Code here. */
*{
	font-family:Arial;
}
.box-form{
	width:80%;
	height: 50%;
	border: 1px solid grey;
	border-radius:20px;
	align-items:center;
	justify-content:center;
	margin-left:10%;
	}
.form-body>h2{
	text-align: center;
}
.form-body{
	padding: 20px;
	font-size:0.8em;
	font-weight:500;
	overflow:hidden;
}
form{
	align-items:center;
	text-align:center
}
form>input{
	width:80%;
}

